{% extends "base.html" %}
  
{% block content %}
<div class="container">
    <h1>State: {{ plate.state }}<h1>
    <h1>Number: {{ plate.number }}</h1>
    <h3>Comments</h3>
    <div>
      {% if g.user.is_authenticated %}
      {{ wtf.quick_form(form) }}
      {% else %}
        <p><a href="/user/create">Create</a> an account or <a href="/user/login">Login</a> to leave a comment</p>
      {% endif %}
    </div>
    {% for comment in comments %}
        <pre>{{ comment.message }}</pre>
    {% endfor %}
</div>
{% endblock %}
